:root {
  // dusty blue
  --color-temp: #89b2eb;
  // sage
  --color-do: #a8d08d;
  // yellow
  --color-ph: #c792ea;
  // chartreuse
  --color-ammonia: #eb37ce;
  // orange
  --color-nitrate: #ffca00;
  // orange red
  --color-nitrite: #ff9f42;
  // cyan
  --color-conductivity: #85d0ce;
  // grey
  --color-salinity: #bfbfbf;
}
